
.nav{
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   background-color: red;
   width: 100%;
  justify-content: flex-end;
  gap: 0.5rem;

}
.nav-list{
   display: flex;
   list-style: none;
    flex-wrap: wrap;
}
.nav-list li{
   display: inline-block;
   padding: 10px;
}
.nav-list li a{
   text-decoration: none;
   color: white;
}
.container{
    display: block;
    height: 250px;
}
.col{
   margin: 10px;
   padding: 10px;
   background-color:wheat;
}

.flex-layout{
   display: flex;
   flex-wrap: wrap;
}
.flex-col{
   margin: 10px;
   padding: 10px;
   background-color:beige;
   min-width: 125px;
}

.sticky-navbar{
   position: sticky;
   top: 0;
   background-color:black;
}