:root{
    /* Colors */
    --color-primary: #4f46e5;
    --color-secondary:#f59e0b;
    --color-bg:#000;
    --color-surface:#f9fafb;
    --color-text:#111827;
    --color-border:#d0d03a;
    --color-shadow:#c0f4a8ec;
    --color-btn:#b619be;
    --color-fg:#ffffff;
    /* fonts */
    --font-family:'Arial',sans-serif;
    --fontsize-sm:0.75rem;
    --font-size-md:1.5rem;
    --font-size-lg:2rem;
    --font-size-h1:2.25rem;
    --font-size-p:1.75rem;

    /* spacing */
    --space-sm:0.5rem;
    --space--md:1rem;
    --space-lg:1.5rem;
    --space-xl:2rem;

}

body{
    background-color: var(--color-bg);
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.hero{
    background-color:var(--color-surface) ;
     padding: var(--space-xl);
     border-radius: 10px;
     border:2px solid var(--color-border);
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

.hero:hover{
    transform: translatey(-15px);
    box-shadow: 8px 8px 8px var(--color-shadow);
}

h1{
    font-size: var(--font-size-h1);
    color: var(--color-secondary);
}

h1:hover,p:hover{
    color: var(--color-primary);
}
.get-started-btn{
  
    background-color: var(--color-btn);
    padding: var(--space-sm);
    border-radius: 10px;
    color: var(--color-fg);
    border: var(--color-border);
}

.get-started-btn:hover{
    background-color: var(--color-primary);
    border:2px solid indigo;
}